<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c4d33f5660.js" crossorigin="anonymous"></script>
    <title>Usuario Logueado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        <nav class="navegacion">
            <a href="{{ url_for('loged.principal_usuario_logueado') }}">Inicio</a>
            <a href="#">Feedbacks</a>
            <a href="#">Calificaciones Recibidas</a>
            <a href="{{ url_for('main.index') }}">Cerrar sesión</a>
            <a href="https://zajuna.sena.edu.co/index.php?error=Informaci%C3%B3n%20de%20usuario%20inv%C3%A1lida">Ir a Zajuna</a>
            <button class="btn" onclick="mostrarLogin()">Editar perfil</button>
        </nav>
    </header>

    <div class="contenedor-form registrar">
        <h2>Trayectoria de:</h2>
        <br>
        <!-- Información del usuario -->
        <div class="contenedor-input">
            <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Correo Electrónico:</strong> {{ usuario.correo }}</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Ciudad:</strong> {{ usuario.ciudad }}</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Labor:</strong> {{ usuario.labor }}</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Disponibilidad inmediata:</strong> (Pendiente agregar código)</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Celular:</strong> {{ usuario.celular }}</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Última Calificación:</strong> (Pendiente agregar código)</p>
        </div>
        <div class="contenedor-input">
            <p><strong>Calificación Global:</strong> (Pendiente agregar código)</p>
        </div>

        <!-- Checkbox para aceptar términos -->
        <div class="recordar">
            <label for="aceptar-terminos">
                <input type="checkbox" id="aceptar-terminos"> Chatear antes de contratar (Pendiente agregar código)
            </label><br>
        </div>

        <!-- Formulario de contratación -->
        <form action="{{ url_for('search.detalle_candidato', id_usuario=usuario.id_usuario) }}" method="GET">
            <button type="submit" class="btn">Contratar</button>
        </form>

        <div class="registrar">
            <p>No es lo que esperabas? (Pendiente agregar código)
                <a href="#" class="login-link">SIGUIENTE →</a>
            </p>
            <p>¿Volver?
                <a href="#" class="login-link">Atrás</a>
            </p>
        </div>
    </div>

    <!-- Script para manejar el evento de envío del formulario -->
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            if (!confirm('¿Estás seguro de que deseas contratar a este usuario?')) {
                event.preventDefault(); // Evita el envío del formulario
            } else {
                alert('Se ha enviado la solicitud de contratación exitosamente');
        window.location.href = "{{ url_for('loged.principal_usuario_logueado') }}";
            }
        });

        // Funciones para manejar la ventana de login
        function mostrarLogin() {
            document.getElementById('loginFondo').classList.add('active');
        }

        function cerrarLogin() {
            document.getElementById('loginFondo').classList.remove('active');
        }
    </script>
</body>

</html>