<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c4d33f5660.js" crossorigin="anonymous"></script>
    <title>Usuario logueado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        <nav class="navegacion">
            <a href="#">Inicio</a>
            <a href="#">Feedbacks</a>
            <a href="#">Calificaciones Recibidas</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            <button class="btn" onclick="mostrarLogin()">Editar perfil</button>
        </nav>
    </header>

    <div class="fondo" id="loginFondo">
        <span class="icono-cerrar" onclick="cerrarLogin()"><i class="fa-regular fa-circle-xmark"></i></span>
        <div class="contenedor-form login">
            <h2>Contratar un servicio</h2>
            
            <!-- Formulario de filtro -->
            <form method="GET" action="{{ url_for('filter_services') }}">
                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-city"></i></span>
                    <label for="ciudad">Selecciona una Ciudad</label>
                    <select name="ciudad" id="ciudad">
                        <option value="Bogotá">Bogotá</option>
                        <option value="Medellín">Medellín</option>
                        <option value="Cali">Cali</option>
                    </select>
                </div>
                
                <div class="contenedor-input">
                    <span class="icono"><i class="fa-solid fa-person-digging"></i></span>
                    <label for="labor">Labor que quieres Contratar</label>
                    <input type="text" name="labor" id="labor" required>
                </div>
                
                <button type="submit">Filtrar</button>
            </form>
        </div>
    </div>
    
    <!-- Mensajes de alerta (si es necesario) -->
    <div class="contenedor-form registrar">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul>
                {% for category, message in messages %}
                  <li class="alert alert-{{ category }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        {% endwith %}
    </div>

    <script>
        function mostrarLogin() {
            document.getElementById('loginFondo').classList.add('active');
        }

        function cerrarLogin() {
            document.getElementById('loginFondo').classList.remove('active');
        }
    </script>
</body>
</html>