<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c4d33f5660.js" crossorigin="anonymous"></script>
    <title>Resultados de Búsqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        <nav class="navegacion">
            <a href="#">Inicio</a>
            <a href="#">Feedbacks</a>
            <a href="#">Calificaciones Recibidas</a>
            <a href="{{ url_for('logout') }}">Cerrar sesión</a>
            <button class="btn" onclick="mostrarLogin()">Editar perfil</button>
        </nav>
    </header>

    <div class="fondo">
        <h2>Resultado de búsqueda</h2>
        {% if servicios %}
            <ul>
                {% for servicio in servicios %}
                    <li>
                        <p><strong>Servicio:</strong> {{ servicio.nombre_servicio }}</p>
                        <p><strong>Fecha de Inicio:</strong> {{ servicio.fecha_inicio }}</p>
                        <p><strong>Fecha de Fin:</strong> {{ servicio.fecha_fin }}</p>
                        <p><strong>Contratante:</strong> {{ servicio.nombre_contratante }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron servicios que coincidan con los criterios de búsqueda.</p>
        {% endif %}
    </div>

    <script>
        function mostrarLogin() {
            document.getElementById('loginFondo').classList.add('active');
        }

        function cerrarLogin() {
            document.getElementById('loginFondo').classList.remove('active');
        }
    </script>
</body>
</html>