<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contratos Vigentes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        <nav class="navegacion">
            <a href="{{ url_for('dashboard.dashboard') }}">Regresar al Dashboard</a>
            <a href="{{ url_for('main.logout') }}">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <h1>Mis Contratos Vigentes</h1>

        {% if contracts %}
            <table>
                <thead>
                    <tr>
                        <th>ID Contrato</th>
                        
                        <th class="fecha"></th>Aquí puedes realizar la calificacion de tus contratos actuales; Para una comunidad mas transparente trata de ser muy objetivo. La calificación se hace en 3 etapas: en los primeros dias, a mitad y una calificacion final.</th>
                        
                    </tr>
                    
                </thead>
                <br>
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td >{{ contract.id_servicio }}</td>
                            
                            
                            <td>
                                <form action="{{ url_for('dashboard.rate_contratante', servicio_id=contract.id_servicio) }}" method="POST">
                                    <label for="cal_contratante1">Primera etapa:</label>
                                    <input type="number" name="cal_contratante1" min="1" max="10" required>

                                    <label for="cal_contratante2">Segunda etapa:</label>
                                    <input type="number" name="cal_contratante2" min="1" max="10" required>

                                    <label for="cal_contratante3">Etapa final:</label>
                                    <input type="number" name="cal_contratante3" min="1" max="10" required>

                                    <button type="submit">Calificar</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <br>
            </table>
        {% else %}
            <p>No tienes contratos vigentes en este momento.</p>
        {% endif %}
    </main>
    <br>
</body>
</html>