<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Nuevo Servicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        <button class="toggle-nav-btn" onclick="toggleNav()">☰</button>
        <nav class="navegacion">
            <a href="{{ url_for('main.index') }}">Inicio</a>
            <a href="{{ url_for('recive.show_notifications') }}">Notificaciones</a>
            <a href="{{ url_for('dashboard.dashboard') }}">Mi dashboard</a>
            <a href="{{ url_for('main.logout') }}">Cerrar sesión</a>
        </nav>
    </header>

    <div class="contenedor">
        <h1>Ofertar Nuevo Servicio</h1>
        <div class="btn">
            <form action="{{ url_for('dashboard.create_service') }}" method="POST" enctype="multipart/form-data">
                <label for="nombre_servicio">Nombre del Servicio:</label>
                <input type="text" id="nombre_servicio" name="nombre_servicio" required>
            
                <label for="descripcion">Descripción del Servicio:</label>
                <textarea id="descripcion" name="descripcion"></textarea>
            
                {% for etapa in ['inicial', 'media', 'final'] %}
                    <h3>Etapa {{ etapa|capitalize }}</h3>
                    
                    <label for="{{ etapa }}_fotos">Fotos:</label>
                    <input type="file" id="{{ etapa }}_fotos" name="{{ etapa }}_fotos" multiple accept="image/*">
                    
                    <label for="{{ etapa }}_audio">Audio:</label>
                    <input type="file" id="{{ etapa }}_audio" name="{{ etapa }}_audio" accept="audio/*">
                    
                    <label for="{{ etapa }}_videos">Videos:</label>
                    <input type="file" id="{{ etapa }}_videos" name="{{ etapa }}_videos" multiple accept="video/*">
                {% endfor %}
            
                <button type="submit">Crear Servicio</button>
            </form>
        </div>
        <a href="{{ url_for('dashboard.dashboard') }}">Cancelar</a>
    </div>
    <script>
        // Función para mostrar/ocultar la barra de navegación
        function toggleNav() {
            const nav = document.querySelector('.navegacion');
            nav.classList.toggle('hide');
        }

        function mostrarLogin() {
            document.getElementById('loginFondo').classList.add('active');
        }

        function cerrarLogin() {
            document.getElementById('loginFondo').classList.remove('active');
        }
    </script>
</body>
</html>