<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c4d33f5660.js" crossorigin="anonymous"></script>
    <title>Registro TRAYECTORIA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h2 class="logo">TRAYECTORIA</h2>
        
        <nav class="navegacion">
            <a href="{{url_for("main.index")}}">Inicio</a>
            <a href="#">Información</a>
            <a href="#">Servicios</a>
            <a href="#">Contacto</a>
            <button class="btn" onclick="mostrarLogin()">Iniciar Sesión</button>
        </nav>
    </header>
    <div >
        
    
        <p>   ...</p>
    </div>
    
    <div class="fondo  " id="loginFondo">
        
        
        
        <p class="contenedor-login">
            <h4>Terminos y condiciones. </h4>
            <p>Al usar la aplicación Trayectoria, el usuario acepta que puede recibir reportes negativos y, en algunos casos, críticas fuertes en relación con su desempeño en distintos roles, tales como empleado, prestador de servicios independiente, contratante, dueño de negocio, servidor público, entre otros que puedan ser registrados en la plataforma. Estas evaluaciones buscan promover el crecimiento y la mejora continua en su labor profesional. Asimismo, el usuario acepta que, si decide eliminar su registro en Trayectoria, sus datos permanecerán visibles durante un periodo de 6 meses posteriores a la solicitud de baja, permitiendo una transición adecuada de la información en la plataforma.
            </p>
        
        </p>
        
    
        
    </div>
    <main >
        
        <div class="fondo " id="loginFondo">
            <span>
        <!-- Formulario de Registro -->
     <div class="contenedor-form.registrar ">
        <form method="POST" action="{{ url_for('register.register') }}"><br>
            <h3>Registro de Nuevo Usuario  </h3>
            {{ form.hidden_tag() }} <!-- Necesario para el CSRF Token -->
            <div class="contenedor-input "></div>
            <!-- Nombre -->
            <label for="nombre" >Nombre: </label>
            {{ form.nombre(class="input-field") }}
            {% if form.nombre.errors %}
                <ul class="error-messages">
                    {% for error in form.nombre.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul><br>
            {% endif %}
        
        </span>
        <div class="contenedor-input "></div>
            <!-- Apellidos -->
            <label for="Apellidos" >Apellidos:</label>
            {{ form.apellidos(class="input-field") }}
            {% if form.apellidos.errors %}
                <ul class="error-messages">
                    {% for error in form.apellidos.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            

            <div class="contenedor-input "></div>
            <!-- Cedula -->
            <label for="Cedula" class=" contenedor-input">cedula:</label>
            {{ form.cedula(class="input-field") }}
            {% if form.cedula.errors %}
                <ul class="error-messages">
                    {% for error in form.cedula.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="contenedor-input "></div>
            <!-- Correo -->
            <label for="correo"class=" contenedor-input">Correo:</label>
            {{ form.correo(class="input-field") }}
            {% if form.correo.errors %}
                <ul class="error-messages">
                    {% for error in form.correo.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="contenedor-input "></div>
            <!-- Contraseña -->
            <label for="contrasenia"class=" contenedor-input">Contraseña:</label>
            {{ form.contrasenia(class="input-field") }}
            {% if form.contrasenia.errors %}
                <ul class="error-messages">
                    {% for error in form.contrasenia.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="contenedor-input "></div>

            <!-- Labor -->
            <label for="labor"class=" contenedor-input">Labor:</label>
            {{ form.labor(class="input-field") }}
            {% if form.labor.errors %}
                <ul class="error-messages">
                    {% for error in form.labor.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="contenedor-input "></div>

            <!-- Celular -->
            <label for="celular"class=" contenedor-input">Celular:</label>
            {{ form.celular(class="input-field") }}
            {% if form.celular.errors %}
                <ul class="error-messages">
                    {% for error in form.celular.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="contenedor-input "></div>

            <!-- Ciudad -->
            <label for="ciudad">Ciudad:</label>
            {{ form.ciudad(class="input-field") }}
            {% if form.ciudad.errors %}
                <ul class="error-messages">
                    {% for error in form.ciudad.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="contenedor-form login"></div>
            <!-- Botón de Envío -->
            <button type="submit" class="registrar btn ">Registrarse</button>
        </form>
    </div>
        
    </main>

    <script>
        function mostrarLogin() {
            document.getElementById('loginFondo').classList.add('active');
        }
        function cerrarLogin() {
            document.getElementById('loginFondo').classList.remove('active');
        }
    </script>
</body>
</html>